This notebook contains the code I used to clean up and merge the data.

In [1]:
import numpy as np
import pandas as pd

In [2]:
def to_year(x):
    return str(int(x[0:4])+1)

In [3]:
# load the all_seasons.csv
df1 = pd.read_csv("data/all_seasons.csv")
df1 = df1.drop(columns=['order', 'college', 'country', 'draft_year', 'draft_round', 'draft_number'])
df1['season'] = (df1['season'].apply(to_year)).astype(int)
df1 = df1.drop(df1[ df1['season'] < 2000].index)
df1

,player_name,team_abbreviation,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
1319,Michael Stewart,TOR,25.0,208.28,104.326160,42,1.4,2.2,0.1,-7.5,0.086,0.200,0.094,0.432,0.024,2000
1320,Michael Curry,DET,31.0,195.58,102.965384,82,6.2,1.3,1.1,-0.7,0.016,0.060,0.146,0.560,0.091,2000
1321,Mike Bibby,VAN,22.0,187.96,86.182480,82,14.5,3.7,8.1,-6.4,0.028,0.089,0.200,0.521,0.350,2000
1322,Mikki Moore,DET,24.0,213.36,102.058200,29,7.9,3.9,0.6,14.4,0.122,0.152,0.181,0.671,0.057,2000
1323,Michael Smith,WAS,28.0,203.20,108.862080,46,6.3,7.2,1.2,-6.0,0.119,0.208,0.108,0.611,0.074,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,Matthew Dellavedova,CLE,30.0,190.50,90.718400,13,2.8,1.8,4.5,-3.1,0.029,0.085,0.125,0.312,0.337,2021
11696,Maurice Harkless,SAC,28.0,200.66,99.790240,37,5.2,2.4,1.2,-2.9,0.017,0.097,0.114,0.527,0.071,2021
11697,Max Strus,MIA,25.0,195.58,97.522280,39,6.1,1.1,0.6,-4.2,0.011,0.073,0.179,0.597,0.074,2021
11698,Marcus Morris Sr.,LAC,31.0,203.20,98.883056,57,13.4,4.1,1.0,4.2,0.025,0.133,0.194,0.614,0.056,2021
11699,Aaron Gordon,DEN,25.0,203.20,106.594120,50,12.4,5.7,3.2,2.1,0.055,0.150,0.204,0.547,0.165,2021

In [4]:
df2 = pd.read_csv("data/nba-salaries.csv")
df2 = df2.drop(columns=['rank','team']).rename(columns={'name' : 'player_name'})
df2

           player_name position    salary  season
0     Shaquille O'Neal        C  17142000    2000
1        Kevin Garnett       PF  16806000    2000
2      Alonzo Mourning        C  15004000    2000
3         Juwan Howard       PF  15000000    2000
4       Scottie Pippen       SF  14795000    2000
...                ...      ...       ...     ...
9451   Jimmer Fredette        G    208509    2020
9452     Jontay Porter       PF    197933    2020
9453  Anthony Tolliver       PF    183115    2020
9454     Tyler Johnson       SG    183115    2020
9455     Luguentz Dort       SG    155647    2020

[9456 rows x 4 columns]

In [5]:
df = pd.merge(df1, df2)
df.to_csv('data/out/season-data.csv')

In [6]:
df3 = pd.read_csv("data/historical-nba-performance.csv")
df3['season'] = (df3['season'].apply(to_year)).astype(int)
df3 = df3.drop(df3[ df3['season'] < 2000].index)
df3.to_csv('data/out/team-records.csv')

In [7]:
df4 = pd.read_csv('data/team-records-edit.csv')

In [8]:
def to_tot_games(x):
    return int(x[0:2]) + int(x[3:5])

In [9]:
df4['tot_games'] = (df4['record'].apply(to_tot_games))
df = pd.merge(df, df4)
df.to_csv('data/out/season-data-final.csv')

In [10]:
df = pd.read_csv('data/out/season-data-edit.csv')
df = pd.merge(df, pd.read_csv('data/final/nba-salary-cap.csv'))
df['GP%'] = df['GP']/df['TG']
df['Cap%'] = df['Salary']/df['Cap']
df = df.drop(df[ df['GP'] < 11].index)
df.to_csv('data/final/season-data-final-edit.csv')

In [11]:
pd.read_csv('data/out/season-data-edit.csv')

,Name,Team,Season,Pos,Salary,Age,Height (cm),Weight (kg),GP,PTS,...,AST,+/-,ORB%,DRB%,USG%,TS%,AST%,W-L,W-L%,TG
0,Michael Stewart,TOR,2000,PF,3200000,25,208.28,104.326160,42,1.4,...,0.1,-7.5,0.086,0.200,0.094,0.432,0.024,45-37,0.549,82
1,Vince Carter,TOR,2000,G,2267000,23,200.66,97.522280,82,25.7,...,3.9,3.6,0.052,0.120,0.299,0.543,0.195,45-37,0.549,82
2,Dell Curry,TOR,2000,G,2100000,36,195.58,92.986360,67,7.6,...,1.3,-1.3,0.011,0.099,0.207,0.542,0.141,45-37,0.549,82
3,Aleksandar Radojevic,TOR,2000,C,1325000,23,220.98,111.130040,3,2.3,...,0.3,-22.1,0.061,0.231,0.228,0.363,0.077,45-37,0.549,82
4,Michael Curry,DET,2000,SF,2000000,31,195.58,102.965384,82,6.2,...,1.1,-0.7,0.016,0.060,0.146,0.560,0.091,42-40,0.512,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8112,Tomas Satoransky,CHI,2020,SG,10000000,28,200.66,95.254320,65,9.9,...,5.4,-1.5,0.040,0.101,0.165,0.533,0.269,22-43,0.338,65
8113,Kris Dunn,CHI,2020,PG,5348007,26,190.50,92.986360,51,7.3,...,3.4,-0.1,0.017,0.132,0.145,0.510,0.198,22-43,0.338,65
8114,Lauri Markkanen,CHI,2020,PF,5300400,23,213.36,108.862080,50,14.7,...,1.5,-2.0,0.038,0.174,0.209,0.560,0.077,22-43,0.338,65
8115,Luke Kornet,CHI,2020,C,2250000,24,218.44,113.398000,36,6.0,...,0.9,-3.6,0.037,0.118,0.163,0.539,0.082,22-43,0.338,65
8116,Max Strus,CHI,2020,SG,898310,24,195.58,97.522280,2,2.5,...,0.0,105.8,0.167,0.000,0.158,0.727,0.000,22-43,0.338,65

In [12]:
rdf = pd.read_csv('data/players_stats_by_season_full_details.csv')
rdf = rdf.loc[(rdf['League'] == 'NBA') & (rdf['Stage'] == 'Regular_Season')] 
rdf['Season'] = (rdf['Season'].apply(to_year)).astype(int)
rdf.rename(columns={'Player': 'Name'}, inplace=True)
rdf = rdf[['Season', 'Name', 'Team', 'GP','MIN','FGM','FGA','3PM','3PA','FTM','FTA','TOV','PF','ORB','DRB','REB','AST','STL','BLK','PTS']
]

In [13]:
rdf

,Season,Name,Team,GP,MIN,FGM,FGA,3PM,3PA,FTM,FTA,TOV,PF,ORB,DRB,REB,AST,STL,BLK,PTS
0,2000,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,1,432,824,223,255,336,742,1078,299,36,239,2344
1,2000,Vince Carter,TOR,82,3126.0,788,1696,95,236,436,551,178,263,150,326,476,322,110,92,2107
2,2000,Karl Malone,UTA,82,2947.0,752,1476,2,8,589,739,231,229,169,610,779,304,79,71,2095
3,2000,Allen Iverson,PHI,70,2853.0,729,1733,89,261,442,620,230,162,71,196,267,328,144,5,1989
4,2000,Gary Payton,SEA,82,3425.0,747,1666,177,520,311,423,224,178,100,429,529,732,153,18,1982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51971,2020,Matt Dellavedova,CLE,57,820.7,62,175,21,91,32,37,59,78,18,57,75,180,20,2,177
51972,2020,Goga Bitadze,IND,54,471.3,70,150,8,42,24,33,28,65,25,81,106,23,10,37,172
51973,2020,Nassir Little,POR,48,572.5,65,151,14,59,28,44,15,72,31,77,108,22,13,14,172
51974,2020,David Nwaba,BRK,20,268.5,37,71,12,28,18,27,8,32,8,37,45,8,11,12,104
51975,2020,Al-Farouq Aminu,ORL,18,380.1,25,86,9,36,19,29,17,27,24,63,87,21,18,8,78

In [14]:
dfe = pd.read_csv('data/final/season-data-final-edit.csv')
dfe = dfe[['Name', 'Team', 'Season', 'Pos', 'Salary','Age', 'W-L', 'W-L%', 'Cap%']]

In [15]:
dfe

,Name,Team,Season,Pos,Salary,Age,W-L,W-L%,Cap%
0,Michael Stewart,TOR,2000,PF,3200000,25,45-37,0.549,0.094118
1,Vince Carter,TOR,2000,G,2267000,23,45-37,0.549,0.066676
2,Dell Curry,TOR,2000,G,2100000,36,45-37,0.549,0.061765
3,Michael Curry,DET,2000,SF,2000000,31,42-40,0.512,0.058824
4,Jerry Stackhouse,DET,2000,SF,4781000,25,42-40,0.512,0.140618
...,...,...,...,...,...,...,...,...,...
7610,Thaddeus Young,CHI,2020,PF,12900000,32,22-43,0.338,0.118197
7611,Tomas Satoransky,CHI,2020,SG,10000000,28,22-43,0.338,0.091625
7612,Kris Dunn,CHI,2020,PG,5348007,26,22-43,0.338,0.049001
7613,Lauri Markkanen,CHI,2020,PF,5300400,23,22-43,0.338,0.048565
7614,Luke Kornet,CHI,2020,C,2250000,24,22-43,0.338,0.020616

In [16]:
dfm = pd.merge(rdf, dfe)

In [17]:
dfm

,Season,Name,Team,GP,MIN,FGM,FGA,3PM,3PA,FTM,...,AST,STL,BLK,PTS,Pos,Salary,Age,W-L,W-L%,Cap%
0,2000,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,1,432,...,299,36,239,2344,C,17142000,28,67-15,0.817,0.504176
1,2000,Vince Carter,TOR,82,3126.0,788,1696,95,236,436,...,322,110,92,2107,G,2267000,23,45-37,0.549,0.066676
2,2000,Karl Malone,UTA,82,2947.0,752,1476,2,8,589,...,304,79,71,2095,PF,14000000,36,55-27,0.671,0.411765
3,2000,Allen Iverson,PHI,70,2853.0,729,1733,89,261,442,...,328,144,5,1989,SG,9000000,25,49-33,0.598,0.264706
4,2000,Gary Payton,SEA,82,3425.0,747,1666,177,520,311,...,732,153,18,1982,PG,11020000,31,45-37,0.549,0.324118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903,2020,Anthony Tolliver,MEM,55,871.9,65,182,49,145,21,...,42,19,11,200,PF,183115,35,34-39,0.466,0.001678
3904,2020,Rodney McGruder,LAC,56,870.9,72,181,24,89,19,...,36,26,8,187,SG,4807693,28,49-23,0.681,0.044051
3905,2020,Goga Bitadze,IND,54,471.3,70,150,8,42,24,...,23,10,37,172,C,2816760,20,45-28,0.616,0.025809
3906,2020,Nassir Little,POR,48,572.5,65,151,14,59,28,...,22,13,14,172,SF,2105520,20,35-39,0.473,0.019292
3907,2020,Al-Farouq Aminu,ORL,18,380.1,25,86,9,36,19,...,21,18,8,78,PF,9258000,29,33-40,0.452,0.084827